{% extends  '../baseTemplates/websiteBase.html' %}
{% load static %}
{% block title %} publications {% endblock %}
{% block content %}
<div class="publication_section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="inner_section"data-aos='zoom-in'>
                    <h1>Our Publications</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="list_of_publication_in_data_table">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner_section">
                    <p>On average IHI researchers publish 10 scientific articles each month and these amount on average to over 100 scientific articles annually.</p>

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner_section">
                    <div class="heading_section text-center">
                        <h3>VCPTU (AUTHORS IN BOLD) PUBLICATIONS 2022</h3>
                    </div>
                    <table id="publication_list" class="table table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th><ul class="nav nav-tabs">
                                    <li class="nav-item">
                                      <a class="nav-link active" aria-current="page" href="#">all</a>
                                    </li>
                                    {% comment %} <li class="nav-item">
                                      <a class="nav-link" href="#">2022</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" href="#">2023</a>
                                    </li> {% endcomment %}
                                    
                                  </ul></th>
                                
                            </tr>
                        </thead>
                        <tbody>
                           <tr>
                            <td>1</td>
                            <td><p>Ingrid Chen, <i>Johnson Kyeba Swai</i>, Daniel Msellemu ,Neil F Lobo, John Bradley,<strong> <i>Sarah J Moore </i></strong> Spatial repellent for malaria prevention – protocol Cochrane Database of Systematic Reviews (in press)</p></td>
                            
                        </tr>
                           <tr>
                            <td>2</td>
                            <td><strong>	Kyeba Swai</strong> Jason Richardson, Neil Lobo, <i>Sarah J Moore </i>Review of methods used in evaluating different behavioral responses induced in mosquito-vectors by volatile pyrethroids” Current Research in Parasitology & Vector-Borne Diseases (Special Edition)</td>
                       
                            
                        </tr>
                           <tr>
                            <td>3</td>
                            <td><i>	Olukayode G. Odufuwa, Sarah Jane Moore, Zawadi Mageni Mboma, </i>John Bradley. Insecticide treated eave nets and window screens for malaria control in Chalinze district, Tanzania: a study protocol for a household randomized control trial Trials 2022 Vol. 23 Issue 1 Pages 578</td>
                            
                            
                        </tr>
                           <tr>
                            <td>4</td>
                            <td><b>Stephen G. Mbwambo,  </b> Nakei Bubun, <i><b>Emmanuel Mbuba, Jason Moore, Kasiani Mbina, Dismas Kamande </b> </i>, Moses Laman, Emmanuel Mpolya, <b>Olukayode G. Odufuwa, </b>Tim Freeman, Stephan Karl and Sarah J. Moore Cone bioassay gives reproducible bioefficacy estimates with different anopheline mosquitoes and can be used for quality assurance of pyrethroid insecticide treated nets Malar J 2022 Vol. 21 Issue 1 Pages 214</td>
                            
                            
                        </tr>
                           <tr>
                            <td>5</td>
                            <td>Isaac Haggai Namango, <b> <i>Carly Marshall, Adam Saddler, Amanda Ross, David Kaftan, Frank Tenywa, Noely Makungwa, Olukayode Odufuwa, Godfrey Ligema, Hassan Ngonyani, Isaya Matanila, Jameel Bharmal, Jason Moore and Sarah J. Moore </i></b>, Manuel Hetzel. The CDC light trap and the human decoy trap (HDT) compared to the human landing catch (HLC) for measuring Anopheles biting in rural Tanzania Mal J 2022 21(1):181</td>
                            
                            
                        </tr>
                           <tr>
                            <td>6</td>
                            <td><i>Ummi Abdul Kibondo, Olukayode G Odufuwa, Saphina H. Ngonyani, Ahmad B. Mpelepele, Issaya Matanilla, Kyeba Swai, Hassan Ngonyani, Watson Ntalabaliba,</i>, Susanne Stutz, James W. Austin, Sarah Jane Moore Comparison of bioassays for the evaluation of chlorfenapyr: evaluation of an alphacypermethrin Insecticide Treated Net (ITN) InterceptorÒ and alphacypermethrin chlorfenapyr ITN InterceptorÒ G2 by WHO Cone and Tunnel test, Ifakara Ambient Chamber Test and Experimental Hut test in Tanzania Parasites and Vectors (2022) 15:124</td>
                            
                            
                        </tr>
                           <tr>
                            <td>7</td>
                            <td>Dismas S. Kamande, Olukayode G. Odufuwa Emmanuel Mbuba <b>Stephen G. Mbwambo, </b> </b> Lorenz Hofer and Sarah J. Moore Modified World Health Organization (WHO) Tunnel Test for Higher Throughput Evaluation of Insecticide-Treated Nets (ITNs) Considering the Effect of Alternative Hosts, Exposure Time, and Mosquito Density Insects 2022, 13(7), 562</td>
                            
                            
                        </tr>
                           <tr>
                            <td>8</td>
                            <td>	
                                R. S. Lees, J. Armistead, S. Azizi, A. Diabate, C. Fornadel, J. Gimnig, Hemingway, J., Imponivil, D., Irish, S., Maweje, H., Messenger, Louisa A., Moore, S. J., N’gufor, C., Oxborough, R, Protopopoff, N., Ranson, H, Small, G, Wheetman, D., Wagman, J., Zohdy, S., Spiers, A.Strain Characterisation for Monitoring Bioefficacy in ITNs Treated with Two Active Ingredients (Dual AI ITNs): Developing a Robust Protocol by Building Consensus Insects 2022 Vol 12.</td>
                            
                            
                        </tr>
                           <tr>
                            <td>9</td>
                            <td>	
                                Lissenden, Natalie, Armistead, Jennifer S., Gleave, Katherine, Irish, Seth R., Martin, Jackline L., Messenger, Louisa A., Moore, Sarah J., Ngufor, Corine, Protopopoff, Natacha, Oxborough, Richard, Spiers, Angus, Lees, Rosemary S. Developing Consensus Standard Operating Procedures (SOPs) to Evaluate New Types of Insecticide-Treated Nets Insects 2022, 13(1), 7</td>
                            
                            
                        </tr>
                           <tr>
                            <td>10</td>
                            <td>	
                                Jason Somers, Marcos Georgiades, Matthew P Su, Judit Bagi, Marta Andrés, Gordon Mills, Watson Ntabaliba, <i>Sarah J Moore </i>, Roberta Spaccapelo, Joerg T Albert Flight-tone mediated circadian control of audibility in mating swarms of Anopheles mosquitoes Science Advances accepted https://www.biorxiv.org/content/10.1101/2021.07.12.452033v1</td>
                            
                            
                        </tr>
                           <tr>
                            <td>11</td>
                            <td>	
                                .

                                Edith P. Madumla, Sarah J, Moore, Jason Moore, Emmanuel Mbuba, Edgar M. Mbeyela, Ummi Abdul Kibondo, Dickson Kobe, Johnson K. Swai, Zawadi Mageni Mboma Olukayode G. Odufuwa  “In starvation a bone can also be meat”: Mixed Methods Evaluation of Factors Associated with Discarding of Long-lasting Insecticidal Nets (LLINs) in Bagamoyo, Tanzania. Malaria J 2022 Vol. 21 Issue 1 Pages 101</td>
                            
                            
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>	
                              Daniel Msellemu, Amanda Ross, Sarah J. Moore Occupational exposure to malaria, leishmaniasis and arbovirus vectors in endemic regions; a Systematic Review</td>
                        </tr>
                        
                        <tr>
                            <td>13</td>
                            <td>	
                                O. Skovmand, D M Dang, T Q Tran, R Bossellman, SJ Moore On the surface: A simple chemical method to determine the bioavailable surface concentration of insecticide for long lasting insecticide treated net (LLIN) evaluation.  Mal J
                            </td>
                        </tr>
                        <tr>
                            <td>14</td>
                            <td>	
                                Lorenz Hofer, Prisca A. Kweyamba, Rajabu Mashauri, Hassan Chabo, Sonali L. Maitra, Sarah J. Moore, Mgeni T. Mohamed, Performance of Malaria rapid diagnostic tests to detect human-to-mosquito transmissible asymptomatic malaria infections in schoolchildren in Bagamoyo, Tanzania
                            </td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td>	
                               	
                            Lorenz Hofer, Prisca A. Kweymaba, Rajabu Mashauri, Hassan Chabo, Rehema Mwanga, Sonali L. Maitra, Mgeni T. Mohamed, Sarah J. Moore Nutritional stress negatively impacts the development of the malaria parasite Plasmodium falciparum in its mosquito host
                            </td>
                        </tr>
                        <tr>
                            <td>16</td>
                            <td>	
                               	
                                Alina Soto, <strong>	Kyeba Swai</strong> Watson Ntabaliba, Hassan Ngonyani, Antone Mseka, Ummi A Kibondo, Anthony Ortiz, Madeleine Chura, Thomas M Mascari, Sarah Moore Mal J Efficacy of the Mosquito Shield™, a passive emanator spatial repellent, against pyrethroid-resistant malaria vectors Mal J
                            </td>
                        </tr>
                        <tr>
                            <td>17</td>
                            <td>	
                               	
                                Emile Tchicaya, Allassane Ouattara, Inza Koné, Emmanuelle Lisro, Benjamin Koudou, <i>Sarah J Moore </i>Population impact of pyriproxyfen: experimental hut evaluation of an alphacypermethrin and pyriproxyfen Insecticide Treated Net (ITN) Royal GuardÒ compared to permethrin and Piperonyl Butoxide (PBO) ITN Olyset® Plus and alphacypermethrin ITN Royal Sentry 2.0Ò for additional control of pyrethroid resistant Anopheles coluzzii, in Tissale, Cote d’Ivoire.  Mal J
                            </td>
                        </tr>
                        <tr>
                            <td>18</td>
                            <td>	
                                Mgeni M Tambwe, Ummi A. Kibondo, Adam Saddler, Jason Moore, Ahmad B. Mpelepele, Rajabu, Olukayode G. Odufuwa and <i>Sarah J Moore </i>Measurement of human landing catches as a proxy for mosquito biting for measuring protective efficacy of volatile pyrethroids against Aedes and Anopheles mosquitoes using a semi-field modified peridomestic space: Ifakara large ambient chamber test (I-LACT). Parasites and Vectors
                            </td>
                        </tr>
                        <tr>
                            <td>19</td>
                            <td>	
                                <strong>	Kyeba Swai</strong> Watson Ntabaliba, Hassan Ngonyani, Antone Mseka, Ummi A Kibondo, Madeleine Chura, Thomas M Mascari, <i>Sarah J Moore </i>Light traps underestimate the entomological impact of the Mosquito Shield™ spatial repellent against bites from Anopheles arabiensis mosquitoes in Tanzania. Mal J
                            </td>
                        </tr>
                        <tr>
                            <td>20</td>
                            <td>	
                                Edith P. Madumla, <b>Olukayode G. Odufuwa, </b>Edgar M. Mbeyela, Godfrey Ligema and Sarah J. Moore. Large-scale (Phase III) evaluation of survivorship, biological efficacy, fabric integrity and community acceptability of DawaPlus®2.0 long-lasting insecticidal nets compared with PermaNet®2.0 in Kilombero, Tanzania. Mal J
                            </td>
                        </tr>
                        <tr>
                            <td>21</td>
                            <td>	
                                Edith P. Madumla, Olukayode G. Odufuwa, Edgar M. Mbeyela, Godfrey Ligema and Sarah J. Moore. Large-scale (Phase III) evaluation of survivorship, biological efficacy, fabric integrity and community acceptability of DawaPlus®2.0 long-lasting insecticidal nets compared with PermaNet®2.0 in Kilombero, Tanzania. Mal J
                            </td>
                        </tr>
                        </tbody>
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% include '../components/footer.html' %}

{% endblock %}