{% extends  '../baseTemplates/websiteBase.html' %}
{% load static %}
{% block title %} publications {% endblock %}
{% block content %}
<div class="publication_section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="inner_section">
                    <h1>Our Publication</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="list_of_publication_in_data_table">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner_section">
                    <table id="publication_list" class="table table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>publications</th>
                                <th>Year</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                           <tr>
                            <td>1</td>
                            <td>Lorem2 ipsum dolor sit amet consectetur adipisicing elit. Dolore, distinctio!</td>
                            <td>2022</td>
                        </tr>
                           <tr>
                            <td>1</td>
                            <td>Lorem2 ipsum dolor sit amet consectetur adipisicing elit. Dolore, distinctio!</td>
                            <td>2023</td>
                            
                        </tr>
                           <tr>
                            <td>1</td>
                            <td>halidi ipsum dolor sit amet consectetur adipisicing elit. Dolore, distinctio!</td>
                            <td>2022</td>
                            
                        </tr>
                           <tr>
                            <td>1</td>
                            <td>Lorem2 ipsum dolor sit amet consectetur adipisicing elit. Dolore, distinctio!</td>
                            <td>2022</td>
                            
                        </tr>
                        </tbody>
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% include '../components/footer.html' %}

{% endblock %}