{% extends '../baseTemplates/websiteBase.html' %}
{% load static %}
{% block title %} Team {% endblock %}
{% block content %}
<div class="connt">
    <div class="detail_view_section" style="height:100vh;position:sticky;top:120px;bottom:0px;margin:-50px 0px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="inner_section">
                        {% if get_staff_detail %}
                       
                        <div class="col-md-4">
                            <div class="image_section"  style="width:350px;">
                            <h1 style="background-color: white;padding-bottom: 10px;color:green;">{{ get_staff_detail.staff_name }}</h1>
                            <img src="{{ get_staff_detail.staff_image.url  }}" alt="" class="img-fluid">
                        </div>
                    </div>
                        <div class="col-md-8">
                            <div class="description">
                                <h2>{{ get_staff_detail.professional_or_title }}</h2>
                                <p style="padding: 10px 0px;line-height: 30px;"> {{ get_staff_detail.profile_descriptions | safe  }}</p>
                                {% comment %} <p style="padding: 10px 0px;line-height: 30px;">Mr. Mmbaga began his data management and analysis career at IHI in 2012 as an intern and later on in 2015, after obtaining his first degree, he was employed as Data Officer. He has extensive experience in database designing and management in (MSAcess, MySQL Server, Apache). Mr. Mmbaga also has experience in software development (web and mobile applications), and data analysis using different platforms such as Stata and R.</p> {% endcomment %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="ff" style="position:static;z-index:0;display:none">
        {% include '../components/footer.html' %}
    </div>
</div>

{% endblock %}
