{% extends '../baseTemplates/websiteBase.html' %}
{% load static %}
{% block title %} Team {% endblock %}
{% block content %}
<div class="connt">
    <div class="detail_view_section" style="height:100vh;position:sticky;top:120px;bottom:0px;margin:-50px 0px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="inner_section">
                        <div class="image_section" style="background-color:white;width:1900px">
                            <h1 style="background-color: white;padding-bottom: 20px;color:green;">Dr Sarah Moore</h1>
                            <img src="{% static './images/staff/Dr -saraah.png' %}" alt="" class="img-fluid">
                        </div>
                        <div class="description px-3">
                            <h2>Head of unit</h2>
                            <p style="padding: 10px 0px;line-height: 30px;">Dr. Sarah Moore is a medical entomologist specializing in the chemical ecology and control of Anopheles mosquitoes with a focus on new tools to protect individuals, households and communities. She is leading the Vector Control Product Testing Unit (VCPTU) at IHI. Dr. Moore holds a PhD in Medical Entomology.</p>
                            <p style="padding: 10px 0px;line-height: 30px;">Dr. Moore joined the Institute 14 years ago. She is also an associate professor at the Swiss Tropical and Public Health Institute (Swiss TPH) of the Basel University, Switzerland. Dr. Moore holds a PhD in Medical Entomology from the London School of Hygiene and Tropical Medicine, UK.</p>
                            <p>The VCPTU she is leading, serves the community through excellence in service delivery, research into new methods of product testing and training of MSc and PhD students</p>
                            <p>Having a diverse range of vector control tools in the malaria control toolbox has two advantages: 1) malaria control programs can select tools most suitable for their setting and 2) increasing market diversity creates competition that drives down unit costs of products.</p>

                            <p>She has Assisted World Health Organization (WHO) as a member of WHO Pesticide Evaluation Scheme (WHOPES), Technical Expert Groups (TEG) and as an ad Hoc Member of the Vector Control Advisory Group (VCAG).</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>Therefore, in order to bring new vector control products to market more rapidly and cost-efficiently there has been a global initiative to improve the quality of product evaluation.</p>
                    <p>The VCPTU team is dedicated to building capacity in entomology for the future of vector control</p>
                    <p>The team has developed several new product-testing assays including a new experimental hut and ambient chamber assays and work closely with mathematical modellers and statisticians to gather relevant data using careful experimental design and data analysis techniques.</p>


                </div>
                <div class="col-md-6 mb-5">
                    <p>Currently, Dr. Moore is supervising nine PhD candidates registered at University of Basel. These are: Lorenz Hofer, Emmanuel Mbuba, Daniel Msellemu, Isaac Namango, Mgeni Mohammed Tambwe, Elodie Vajda, Allison Tatarsky, Frank Tenywa and Kyeba Swai.</p>
                    <p>She also co-supervising Olukayode Odufuwa registered for PhD at the LSHTM.</p>
                    <p>Additionally, she is supervising three master’s students: Dismas Kamande, Stephen Mbwambo and Janeth Machange. In her teaching role of the Masters of Science in Public Health Research at IHI, Dr. is module organiser for Intervention Trials and Management as well as Scientific Reading and Writing.</p>
                    <p>Dr. Moore is experienced in product evaluation: Long Lasting Insecticidal Nets (LLINs) laboratory, semi-field and durability monitoring, Indoor Residual Spray (IRS) at laboratory, semi-field and community studies, Spatial repellents laboratory, semi-field and clinical trial, Topical repellents at laboratory, semi-field and clinical trial, Odour baited traps at semi-field, Attractive Targeted Sugar Baits at semi-field and field trials.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="ff" style="position:static;z-index:0;display:none">
        {% include '../components/footer.html' %}
    </div>
</div>

{% endblock %}
