{% extends  '../baseTemplates/websiteBase.html' %}
{% load static %}
{% block title %} Team {% endblock %}
{% block content %}
<div class="team_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12"  data-aos="zoom-in-up">
                <h1>VECTOR CONTROL PROJECT TEST UNIT</h1>
                <h1>TEAM</h1>
               
                </div>
        </div>
    </div>
</div>
<div class="team_message" data-aos="slide-up">
    <p><q>
        Between 2017 and 2021 the unit has undergone rapid expansion and now has outstanding research facilities and a team of 15 highly motivated research staff: PhD (4), MSc (8), BSc (4) with a growing number of female scientists (5). In addition to service contracts, the unit is actively engaged in applied research, with current research grants in the field of product development or bioassay development funded by many international donors and universities.
    </q></p>
</div>
<div class="team_gallarey">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mt-5"  data-aos='zoom-out-up'  >
                <div class="inner_section">
                    <a href="{% url 'vcptUnit_team:SaraahMooredetailView' %}" class="link" style="text-decoration: none;color: black;">
                    <div class="image_section">
                        <img src="{% static './images/staff/Dr -saraah.png' %}" alt="" class="img-fluid">
                    </div>
                    <div class="description">
                        <h5>Dr. Sarah Moore</h5>
                        
                        <p>Head of unit</p>
                    </div>
                </a>
                </div>
            </div>
            <div class="col-md-3 mt-5"  data-aos='zoom-out-up' >
                <div class="inner_section">
                    <div class="image_section">
                        <img src="{% static './images/staff/Jason-Moore-VCPTU.png' %}" alt="" class="img-fluid">
                        
                    </div>
                    <div class="description">
                        <h5>Jason Moore</h5>
                        
                        <p>Test Facility Manager</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mt-5"  data-aos='zoom-out-up'  >
                <div class="inner_section">
                    <div class="image_section">
                        <img src="{% static './images/staff/EmmanuelMbuba_original web.png' %}" alt="" class="img-fluid">
                    </div>
                    <div class="description">
                        <h5>Emmanuel Mbuba</h5>
                        
                        <p>Insectary Manager</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mt-5"  data-aos='zoom-out-up' >
                <div class="inner_section">
                    <div class="image_section">
                        <img src="{% static './images/staff/Chausiku.jpg' %}" alt="" class="img-fluid">
                    </div>
                    <div class="description">
                        <h5>Chausiku Mwinyimvua</h5>
                        
                        <p>Technician</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mt-5"  data-aos='zoom-out-up'>
                <div class="inner_section">
                    <div class="image_section">
                        <img src="{% static './images/staff/Edga-Mbeyella.jpg' %}" alt="" class="img-fluid">
                    </div>
                    <div class="description">
                        <h5>Edgar Mbeyela</h5>
                        
                        <p>Technician</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mt-5"  data-aos='zoom-out-up'>
                <div class="inner_section">
                    <div class="image_section">
                        <img src="{% static './images/staff/Dickson-Kobes.jpg' %}" alt="" class="img-fluid">
                    </div>
                    <div class="description">
                        <h5>Dickson Kobe</h5>
                        
                        <p>Technician</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mt-5"  data-aos='zoom-out-up'>
                <div class="inner_section">
                    <div class="image_section">
                        <img src="{% static './images/staff/Ester-Gitetaa.jpg' %}" alt="" class="img-fluid">
                    </div>
                    <div class="description">
                        <h5>Ester Giteta</h5>
                        
                        <p>Administrative Officer</p>
                    </div>
                </div>
            </div>
           
            <!-- <a > -->
                <div class="col-md-3 mt-5"  data-aos='zoom-out-up'>
                    <a href="{% url 'vcptUnit_team:detailView' %}" class="link" style="text-decoration: none;color: black;">
                        <div class="inner_section">
                            <div class="image_section">
                                <img src="{% static './images/staff/Mmbaga-Sele.jpg' %}" alt="" class="img-fluid">
                            </div>
                            <div class="description">
                                <h5>Selemani Mmbaga</h5>
                                
                                <p>Data Manager</p>
                            </div>
                        </div>
                    </a>
                </div>
            <!-- </a> -->
            <div class="col-md-3 mt-5"  data-aos='zoom-out-up'>
                <div class="inner_section">
                    <div class="image_section">
                        <img src="{% static './images/staff/Swai-Kyeba.jpg' %}" alt="" class="img-fluid">
                    </div>
                    <div class="description">
                        <h5>Swai Kyeba</h5>
                        
                        <p>Research Officer</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mt-5"  data-aos='zoom-out-up'>
                <div class="inner_section">
                    <div class="image_section">
                        <img src="{% static './images/staff/Ritha-Kidyala.jpg'%}" alt="" class="img-fluid">
                    </div>
                    <div class="description">
                        <h5>Swai Kyeba</h5>
                        
                        <p>Administrative Officer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include '../components/footer.html' %}

{% endblock %}