{% extends  '../baseTemplates/websiteBase.html' %}
{% load static %}
{% block title %} Accreditations {% endblock %}
{% block content %}
<div class="accreditation_section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1" data-aos="zoom-in">
                <div class="inner_section">
                    <h1>Our Accreditations</h1>
                   
                </div>
            </div>
        </div>
    </div>
</div>
<div class="list_of_accreditation_in_data_table">
    <div class="container mb-4">
        <div class="row">
            <div class="col-md-12">
                <div class="inner_section p-5">
                    <!-- <h5>Download Brochure</h5> -->
                    <p>Credibly innovate granular internal or organic sources whereas high standards in web-readiness. Energistically scale future-proof core competencies vis-a-vis impactful experiences. Dramatically synthesize integrated schemas with optimal networks.</p>
                    <p>Energistically scale future-proof core competencies vis-a-vis impactful experiences. Dramatically synthesize integrated schemas with optimal networks.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner_section">
                   
                    <div class="accordion" id="accordionExample">
                        <table id="project_list" class="table table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Accreditations</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                               <tr>
                                <td>1</td>
                                <td>

                                    <div class="accordion-item" >
                                        <h2 class="accordion-header" id="headingOne">
                                          <button class="accordion-button text-decoration-none bg-success text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Accreditations
                                          </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                          <div class="accordion-body">
                                            <ul>
                                                <li>Following support from IVCC, Vector Control Product Testing Unit – VCPTU went through a process of accreditation</li>
                                                <li>The VCPTU Test Facility is the third vector control facility in Africa to achieve OECD GLP accreditation status</li>
                                                <li>Received Certificate of Compliance (No. G0033) from South African National Accreditation System (SANAS) in 2021</li>
                                                <li>To maintain GLP standards, there is internal monthly competition among departments, quarterly inspection by Quality Assurance Manager and annual inspection by SANAS</li>
                                            </ul>
                                          </div>
                                        </div>
                                      </div>
                                </td>
                                
                            </tr>
                               <tr>
                                <td>2</td>
                                <td>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingTwo">
                                          <button class="accordion-button text-decoration-none bg-success text-white collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Quality Policies
                                          </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                          <div class="accordion-body">
                                           <ul>
                                            <li>The Test Facility is committed to meeting internal and sponsor requirements, and providing a system for the establishment and review of quality objectives.</li>
                                            <li>The Test Facility is committed to a policy of continual quality improvement in line with the principles of OECD-GLP</li>
                                            <li>The Test Facility management is committed to providing the resources necessary to maintain the test facility quality management systems and to maintain the OECD-GLP compliance status of the Test Facility</li>
                                            <li>The Test Facility is committed to maintaining a high level of communication within the organization, to ensure quality systems are understood and adhered to by all employees</li>
                                            <li>The Test Facility is committed to maintaining a qualified, trained and competent workforce to deliver quality results in timely manner</li>
                                        </ul>
                                          </div>
                                        </div>
                                      </div>
                                </td>
                               
                                
                            </tr>
                               <tr>
                                <td>3</td>
                                <td>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingThree">
                                          <button class="accordion-button text-decoration-none bg-success text-white collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Quality Assurance Program
                                          </button>
                                        </h2>
                                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                          <div class="accordion-body">
                                            <ul>
                                                <li>The facility has a documented quality assurance system with designated mandate to ensure GLP compliance in the conduct of the study.</li>
                                                <li>Quality Assurance Mandate</li>
                                                <li>To conduct internal quarterly facility inspections </li>
                                                <li>To liaise with external (SANAS) inspectors during annual inspection</li>
                                                <li>To conduct GLP inspection during study initiation</li>
                                                <li>To facilitate GLP refresher course for facility Personnel</li>
                                                <li>Quality assurance operations and responsibilities are independent from the facility activities to ensure compliance while avoiding bias and conflict of interest</li>
                                            </ul>
                                          </div>
                                        </div>
                                      </div>
                                </td>
                            </tr>
                               <tr>
                                <td>4</td>
                                <td>                            
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingFour">
                                          <button class="accordion-button text-decoration-none bg-success text-white collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            Ethics and standards 
                                          </button>
                                        </h2>
                                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                          <div class="accordion-body">
                                            <ul>
                                                <li>Conform to WHO and OECD GLP guidelines in conducting entomological testing to international standards.</li>
                                                <li>Observe strict firewalls between projects and companies and is non-partisan.</li>
                                                <li>No affiliation with specific companies and guarantees bias-free reporting on tests of chemical products. </li>
                                                <li>Approved research under ethical committees of host institutions and Ministry of Health</li>                                           
                                            </ul>
                                          </div>
                                        </div>
                                      </div>
                                </td>
                            </tr>
                            </tbody>
                            
                        </table>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include '../components/footer.html' %}

{% endblock %}
