.navigation_section{
    position: sticky;
    top: 0px;
    z-index: 10;
    background-color: var(--whiteColor);
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    
  }
  .navigation_section .nav-item{
  
    padding: 5px 25px;
  
  }
  .navigation_section .container-fluid{
    display: var(--displayFlex);
    justify-content: space-between;
    width: 100%;
    margin: 0px auto;
  }
  .navigation_section .container,
  .navigation_section .container .col-md-12{
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  
  .navigation_section .container .col-md-12 .item{
    width: 200%;
    padding: 0px;
    margin: 0px;
  }
  .navigation_section .logo_section{
    width: 50%;
  }
  /* .navigation_section .navbar{
    background-color: var(--greyColor1);
    color: var(--blackColor);
  }
  .navigation_section .nav-item .nav-link{
    color: var(--blackColor);
  } */
  .navigation_section .nav-item:hover{
    background-color: var(--whiteColor);
    border-bottom: 1px var(--solidLIne) var(--greenColor);
   
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition-duration: 15s;
  }
  .navigation_section .nav-item .nav-link{
    color:var(--blackColor)
  }
  .navigation_section .nav-item .nav-link:active{
    background-color: var(--whiteColor);
    border-bottom: 1px var(--solidLIne) var(--greenColor);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  
  }
  .navigation_section .inner{
    padding: 10px 10px;
    display: var(--displayFlex);
    justify-content: space-between;
    color:var(--greenColor);
  }
  .navigation_section .address_section{
    display: none;
  }
  .navigation_section .button_section{
    padding: 10px 30px;
  }
  