{% extends  '../baseTemplates/websiteBase.html' %}
{% load static %}
{% block title %} services {% endblock %}
{% block content %}

<div class="our_service_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>SERVICES OFFERED BY VECTOR CONTROL UNIT</h1>
            </div>
        </div>
    </div>
</div>

<div class="services_section">
    <div class="contaniner">
        <div class="row">
            <div class="col-md-6">
                <div class="inner_section">
                    <h2>Our services</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis pariatur, dolore alias tenetur totam iusto maiores laborum iste placeat expedita?</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="items">
                    <div class="service_list">
                        <div class="image_section">
                            <img src="{% static './images/process.png' %}" alt="" class="img-fluid">
                        </div>
                        <div class="description">
                            <p>1. We test for indoor residual spraying (IRS), insecticidal treated nets (ITNs), skin (topical) repellents, spatial (area) repellents, treated clothing, attractive targeted sugar baits and mosquito lures.</p>
                        </div>
                    </div>
                    <div class="service_list">
                        <div class="image_section">
                            <img src="{% static './images/process.png' %}" alt="" class="img-fluid">
                        </div>
                        <div class="description">
                            <p>2. We develop new means of testing products and assist in developing guidelines for international use.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-left: 30px;">
            <div class="col-md-12">
                <div class="items">
                    <div class="service_list">
                        <div class="image_section">
                            <img src="{% static './images/process.png' %}" alt="" class="img-fluid">
                        </div>
                        <div class="description">
                            <p>3. We measure key parameters in the mosquito that translate to efficacy in reducing vector borne disease in the human population when applied at scale.</p>
                        </div>
                    </div>
                    <div class="service_list">
                        <div class="image_section">
                            <img src="{% static './images/process.png' %}" alt="" class="img-fluid">
                        </div>
                        <div class="description">
                            <p>
                                4. Our documentation, analysis and reporting is rigorous for ease of use by our partners.</p>
                        </div>
                    </div>
                    <div class="service_list">
                        <div class="image_section">
                            <img src="{% static './images/process.png' %}" alt="" class="img-fluid">
                        </div>
                        <div class="description">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, excepturi!</p>
                        </div>
                    </div>
                    <div class="service_list">
                        <div class="image_section">
                            <img src="{% static './images/process.png' %}" alt="" class="img-fluid">
                        </div>
                        <div class="description">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, excepturi!</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>


<!-- 
<div class="services_section">
    <div class="contaniner">
        <div class="row">
           
            <div class="col-md-8 offset-md-2">
                <div class="time_line">
                    <div class="vtl">
                    <div class="event">
                        <p class="date">11 Mar 2237 12:34</p>
                        <p class="txt">Evil Cates invaded planet Doge.</p>
                    </div>
                    <div class="event">
                        <p class="date">12 Mar 2237 14:23</p>
                        <p class="txt">Cates ate Doge food.</p>
                    </div>
                    <div class="event">
                        <p class="date">13 Mar 2237 20:12</p>
                        <p class="txt">Cates took over the Doge beds.</p>
                    </div>
                    <div class="event">
                        <p class="date">14 Mar 2237 08:11</p>
                        <p class="txt">Hoomans to the rescue.</p>
                    </div>
                    <div class="event">
                        <p class="date">15 Mar 2237 14:27</p>
                        <p class="txt">Evil cates gone. Victory for good boys and girls.</p>
                    </div>
</div>
            </div>
        </div>
        
    </div>
</div> -->





<!-- Our
Services






 -->
{% include '../components/footer.html' %}

{% endblock %}