{% extends  '../baseTemplates/websiteBase.html' %}
{% load static %}
{% block title %} about-us{% endblock %}
{% block content %}



{% include '../components/heroSectionInAboutPage.html' %}
{% include '../components/history.html' %}
<div class="mission_section">
    <div class="container-fluid" style="padding: 0px;">
        <div class="row">
            <div class="col-md-6" style="padding: 0px;" data-aos='zoom-out-up'>
                <!-- <img src="{% static './images/mission.jpg' %}" alt="" class="img-fluid"> -->
                <div class="inner_section_mission">
                    <h1>VCPTU MISSION</h1>
                    <p>Our mission is to bring new vector control products to market more rapidly and cost-efficiently through the conduct of rigorous evaluations using well powered studies, enhanced research standards, and careful data analysis. At the same time, we are dedicated to building capacity in entomology for the future of vector control.</p>
                </div>
            </div>
            <div class="col-md-6" style="padding: 0px;" data-aos='zoom-out-up'>
                <div class="inner_section">
                    <h1>Strategy for 2022</h1>
                    <ul>
                        <li>Maintain GLP to attract high value studies <strong>– Delivered March 2022</strong></li>
                        <li>Increase international peer reviewed publications per student to minimum 1 per student / year to increase international visibility– <strong>On Target.</strong></li>
                        <li>Maintain 1 PhD graduate per year to ensure institutional growth – On Target.</li>
                        <li>Focus business on preferred client base (high commercial / scientific value) – Delivered to 2023.</li>
                        <li>Build 18 more huts for new IRS trials to increase capacity – Delivered.</li>
                        <li>Build BSL3 semi-field system to grow range of studies that can be undertaken – Delivered.</li>
                        <li>Increase scope to include space sprays – Delivered, 1 trial secured.</li>
                        <!-- <li>Increase scope to include larvicide – Delivered, 1 trial secured.</li>
                        <li>Obtain core funding – Partially delivered: one grant obtained ($300k) and one applied for ($2.7 million)</li>    
                        <li>Focus on improvement of project delivery.</li>
                        <li>Support development of new platforms in dengue vector ecology and malaria transmission studies.</li> -->
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="method_training_models_lab_practise">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="inner" data-aos='zoom-out-up'>
                    <div class="icon">
                        <img src="{% static './images/method.png' %}" alt="icon" class="img-fluid">
                    </div>
                    <h5 style="text-decoration: none;border: 0px;">method</h5>
                    <div class="descriptions">
                        <p>We use standard WHO testing methodology (Phase I: laboratory studies, Phase II: experimental hut studies, and Phase III: community studies) for long lasting insecticidal nets and Indoor residual spray (IRS).</p>
                        <a href="" class="readmore">Read more</a>

                        
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="inner" data-aos='zoom-out-up'>
                    <div class="icon">
                        <img src="{% static './images/micr.png' %}" alt="icon" class="img-fluid">
                    </div>
                    <h5>Good Laboratory Practice</h5>
                    <div class="descriptions">
                        <p>With increasing insecticide resistance in malaria-endemic countries there is an urgent need for safe and effective novel vector control products. These tools require generation of rigorous efficacy data </p>
                        <a href="" class="readmore">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="inner" data-aos='zoom-out-up'>
                    <div class="icon">
                        <img src="{% static './images/bussiness_modal.png' %}" alt="icon" class="img-fluid">
                    </div>
                    <h5>Business model</h5>
                    <div class="descriptions">
                        <p>In addition to achieving GLP, the VCPTU in collaboration with IHI Grants and Finance departments has developed a business model that provides a high throughput, frictionless service for clients that encourages repeat business. </p>
                        <a href="" class="readmore">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="inner" data-aos='zoom-out-up'>
                    <div class="icon">
                        <img src="{% static './images/training.png' %}" alt="icon"  class="img-fluid">
                    </div>
                    <h5>Training</h5>
                    <div class="descriptions">
                        <p>The VCPTU generates large amounts of data, which provides numerous training opportunities. Currently, six PhD candidates are using product testing data as the basis of their research degrees.

                        The unit is funding four PhDs
                        </p>
                        <a href="" class="readmore">Read more</a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="strategy_section">
    <div class="container-fluid" style="padding: 0px;">
        <div class="row">
            <div class="col-md-6" style="padding: 0px;">
                <img src="{% static './images/strategies.jpg' %}" alt="" class="img-fluid" style="height: 100%;">
            </div>
            <div class="col-md-6" style="padding: 0px;">
                <div class="inner_section">
                    
                </div>
            </div>
        </div>
    </div>
</div> -->

{% include '../components/footer.html' %}

{% endblock %}

