{% extends '../baseTemplates/websiteBase.html' %}
{% load static %}
{% block title %} news {% endblock %}
{% block content %}
<!-- <div class="accreditation_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 offset-md-1" data-aos="zoom-in">
                <div class="inner_section" data-aos = 'zoom-out-up'>
                    <h1>VCPTU NEWS</h1>
                   
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="section_for_news">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <!-- <h2>Latest news</h2> -->
                <div class="inner_section" data-aos='zoom-out-up'>
                    <div class="image_section">
                        <img src="{{get_news_or_event_detail.event_image.url }}" alt="" class="img-fluid">
                    </div>
                    <div class="news_description">
                        

                        <p>{{get_news_or_event_detail.description | safe | truncatewords:2}}</p>

                    </div>
                    <div class="more_description">
                        <p>{{get_news_or_event_detail.description | safe }}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% include '../components/footer.html' %}

{% endblock %}
