{% extends '../baseTemplates/websiteBase.html' %}
{% load static %}
{% block title %} news {% endblock %}
{% block content %}
<!-- <div class="accreditation_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 offset-md-1" data-aos="zoom-in">
                <div class="inner_section" data-aos = 'zoom-out-up'>
                    <h1>VCPTU NEWS</h1>
                   
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="section_for_news">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <!-- <h2>Latest news</h2> -->
                <div class="inner_section" data-aos='zoom-out-up'>
                    <div class="image_section">
                        <img src="{% static './images/events.jpeg' %}" alt="" class="img-fluid">
                    </div>
                    <div class="news_description">
                        <h3> Head of Vector Control from (NMCP) visited VCPTU</h3>

                        <p> <strong>Head of Vector Control </strong>  from National Malaria Control Programme (NMCP) visited Vector Control and Product Testing Unit in bagamoyo
                        </p>

                    </div>
                    {% comment %} <div class="more_description">
                        
                    </div> {% endcomment %}

                </div>
            </div>
        </div>
    </div>
</div>
{% include '../components/footer.html' %}

{% endblock %}
