{% extends  '../baseTemplates/websiteBase.html' %}
{% load static %}
{% block title %} news {% endblock %}
{% block content %}
<div class="accreditation_section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1" data-aos="zoom-in">
                <div class="inner_section" data-aos = 'zoom-out-up'>
                    <h1>VCPTU NEWS</h1>
                   
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section_for_news">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2>Latest news</h2>
                <div class="inner_section" data-aos = 'zoom-out-up'>
                   
                    <div class="image_section">
                        <img src="{% static './images/corrona.jpg' %}" alt="" class="img-fluid">
                    </div>
                    <div class="news_description">
                        <h5>About COVID19 </h5>
                    </div>
                    <div class="accordion" id="accordionExample" >
                        <div class="accordion_section">
                          <h2 class="accordion-header" id="headingOne" style="display: flex;justify-content: space-between;">
                            <button class=""  type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Read more
                            </button>
                            <button class=""  type="button" >
                              <img src="{% static './images/heart.png' %}" alt=""  class="img-fluid" style="">
                            </button>
                            <button class=""  type="button" >
                                <img src="{% static './images/like.png' %}" alt="" class="img-fluid" style="width: 30px;padding-top: 10px;">
                            </button>
                            <button class=""  type="button" >
                                <img src="{% static './images/download.png' %}" alt="" class="img-fluid" style="width: 30px;padding-top: 10px;">
                                
                            </button>
                            <button class=""  type="button" >
                                <img src="{% static './images/share.png' %}" alt="" class="img-fluid" style="width: 30px;padding-top: 10px;">

                            </button>
                          </h2>
                          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              <strong>Coronavirus disease (COVID-19)</strong>  is an infectious disease caused by the SARS-CoV-2 virus.
                              Most people who fall sick with COVID-19 will experience mild to moderate symptoms and recover without special treatment. However, some will become seriously ill and require medical attention
                            </div>
                          </div>
                        </div>
                    </div>
                <div class="other_news" >
                    <a href="">

                        <div class="inner_section" data-aos = 'zoom-out-up'>
                            <div class="image_section">
                                <img src="{% static './images/project.jpg' %}" alt="" class="img-fluid">
                            </div>
                            <div class="description">
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt, corporis.</p>
                            </div>
                        </div>
                    </a>
                    <div class="inner_section" data-aos = 'zoom-out-up' >
                        <div class="image_section" >
                            <img src="{% static './images/facility.jpeg' %}" alt="" class="img-fluid">
                        </div>
                        <div class="description">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt, corporis.</p>
                        </div>
                    </div>
                    <div class="inner_section" data-aos = 'zoom-out-up' >
                        <div class="image_section" >
                            <img src="{% static './images/images.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <div class="description">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt, corporis.</p>
                        </div>
                    </div>
                    <div class="inner_section" data-aos = 'zoom-out-up' >
                        <div class="image_section" >
                            <img src="{% static './images/vcptu_bg.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <div class="description">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt, corporis.</p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include '../components/footer.html' %}

{% endblock %}
