{% extends  '../baseTemplates/websiteBase.html' %}
{% load static %}
{% block title %} news {% endblock %}
{% block content %}
<!-- <div class="accreditation_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 offset-md-1" data-aos="zoom-in">
                <div class="inner_section" data-aos = 'zoom-out-up'>
                    <h1>VCPTU NEWS</h1>
                   
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="section_for_news">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <!-- <h2>Latest news</h2> -->
                <div class="inner_section" data-aos = 'zoom-out-up'>
                   {% if get_one_latest_news_or_one_latest_events %}
                    <div class="image_section">
                        <img src="{{ get_one_latest_news_or_one_latest_events.event_image.url }}" alt="" class="img-fluid">
                    </div>
                    <div class="news_description">
                        <h5>{{get_one_latest_news_or_one_latest_events.description | safe | truncatewords:10 }} </h5>
                    </div>
                    <div class="accordion" id="accordionExample" >
                        <div class="accordion_section">
                          <h2 class="accordion-header" id="headingOne" style="display: flex;justify-content: space-between;">
                            <button class=""  type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Read more
                            </button>
                            <button class=""  type="button" >
                              <img src="{% static './images/heart.png' %}" alt=""  class="img-fluid" style="">
                            </button>
                            <button class=""  type="button" >
                                <img src="{% static './images/like.png' %}" alt="" class="img-fluid" style="width: 30px;padding-top: 10px;">
                            </button>
                            <button class=""  type="button" >
                                <img src="{% static './images/download.png' %}" alt="" class="img-fluid" style="width: 30px;padding-top: 10px;">
                                
                            </button>
                            <button class=""  type="button" >
                                <img src="{% static './images/share.png' %}" alt="" class="img-fluid" style="width: 30px;padding-top: 10px;">

                            </button>
                          </h2>
                          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              {{get_one_latest_news_or_one_latest_events.description | safe }}
                            </div>
                          </div>
                        </div>
                    </div>
                    {% endif %}
                <div class="other_news" >
                    {% if get_latest_news_or_latest_events %}
                    {% for news in get_latest_news_or_latest_events %}
                        <a href="{% url 'vcptUnit_news:detailaViewPage' news.id %}" class="link">
                            <div class="inner_section" data-aos = 'zoom-out-up'>
                                <div class="image_section" style="width:25%;height:200px">
                                    <img src="{{ news.event_image.url }}" alt="" class="img-fluid" >
                                </div>
                                <div class="description">
                                    <h3>{{news.description | safe | truncatewords:4 }} </h3>
                                    <p>{{news.description | safe | truncatewords:10 }} 
                                    </p>
                                    <p class="read_more">Read more</p>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    {% endif %}
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include '../components/footer.html' %}

{% endblock %}