{% extends  '../baseTemplates/websiteBase.html' %}
{% load static %}
{% block title %} projects {% endblock %}
{% block content %}
<div class="project_section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1" data-aos="zoom-in">
                <div class="inner_section">
                    <h1>Our Projects</h1>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="list_of_project_in_data_table">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner_section">
                    Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner_section">
                    <table id="project_list" class="table table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th><ul class="nav nav-tabs">
                                    <li class="nav-item">
                                      <a class="nav-link active" aria-current="page" href="#">2021</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" href="#">2022</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" href="#">2023</a>
                                    </li>
                                    
                                  </ul></th>
                                
                            </tr>
                        </thead>
                        <tbody>
                           <tr>
                            <td>1</td>
                            <td>Lorem2 ipsum dolor sit amet consectetur adipisicing elit. Dolore, distinctio!</td>

                        </tr>
                           <tr>
                            <td>1</td>
                            <td>Lorem2 ipsum dolor sit amet consectetur adipisicing elit. Dolore, distinctio!</td>

                            
                        </tr>
                           <tr>
                            <td>1</td>
                            <td>halidi ipsum dolor sit amet consectetur adipisicing elit. Dolore, distinctio!</td>

                            
                        </tr>
                           <tr>
                            <td>1</td>
                            <td>Lorem2 ipsum dolor sit amet consectetur adipisicing elit. Dolore, distinctio!</td>

                            
                        </tr>
                        </tbody>
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




{% include '../components/footer.html' %}

{% endblock %}