{% extends  '../baseTemplates/websiteBase.html' %}
{% load static %}
{% block title %} projects {% endblock %}
{% block content %}
<div class="project_section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1" data-aos="zoom-in">
                <div class="inner_section">
                    <h1>Our Projects</h1>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="list_of_project_in_data_table">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner_section">
                    Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner_section">
                    <table id="publication_list" class="table table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>
                                    <ul class="nav nav-tabs">
                                     {% if get_all_project  %}
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="{% url 'vcptUnit_projects:projectPage'  %}">all</a>
                                    </li>
                                   {% for proj_year in distinct_year_in_list %}
                                   <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="{% url 'vcptUnit_projects:projectDetailPage' proj_year  %}">{{proj_year}}</a>
                                    </li>
                                    {% endfor %}

                                    
                                    {% else %}
                                    <li class="nav-item">
                                        <a class="nav-link " aria-current="page" href="{% url 'vcptUnit_projects:projectPage'  %}">all</a>
                                    </li>
                                    {% for proj_year in distinct_year_in_list %}

                                    <li class="nav-item">
                                        <a class="nav-link" aria-current="page" href="{% url 'vcptUnit_projects:projectDetailPage' proj_year  %}">{{proj_year}}</a>
                                        </li>
                                    {% endfor %}
                                    
                                    {% endif %}
                                 
                                  
                                   

                                  </ul>
                                </th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% if get_all_project %}
                            {% for project in get_all_project %}

                           <tr>
                            <td>{{ forloop.counter }}</td>
                            <td> {{ project.description | safe }}</td>
                            
                        </tr>
                        {% endfor %}
                        {% endif %}

                        {% comment %} get_publication_from_specific_year {% endcomment %}
                        {% if get_project_from_specific_year %}
                        {% for project in get_project_from_specific_year %}

                       <tr>
                        <td>{{ forloop.counter }}</td>
                        <td> {{ project.description | safe }}</td>
                        
                    </tr>
                    {% endfor %}
                    {% endif %}    
                    </tbody>
                        
                </table>
                </div>
            </div>
        </div>
    </div>
</div>




{% include '../components/footer.html' %}

{% endblock %}