<div class="contact_section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="inner_section">
          <div class="title" data-aos="slide-up">
            <h3>Contact Us</h3>
          </div>
          <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, animi quia aliquam distinctio ipsa autem in nemo laborum corrupti ipsum iure qui saepe tempora excepturi at consectetur sint nam suscipit possimus fuga accusamus ad ex. Eius reiciendis hic distinctio. Doloribus quasi ullam voluptatem laudantium sed repellendus odit itaque dolores earum?</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="address">
          <h4>Bagamoyo Branch</h4>
          <p>Off Chuguni Road</p>
          <p>P.O. Box 74, Bagamoyo</p>
          <p>Tel: +255 232 440065</p>
          <p>info@ihi.or.tz</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="address" data-aos="slide-down">
          <h4>Dar Es Salaam Office</h4>
          <p>#5 Ifakara Street, Plot 463 Mikocheni</p>
          <p>P.O. Box 78 373, Dar es Salaam</p>
          <p>Tel: +255 222 774714</p>
          <p>info@ihi.or.tz</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="address">
          <h4>Ifakara Branch</h4>
          <p>Off Mlabani Passage</p>
          <p>P.O. Box 53, Ifakara</p>
          <p>Tel: +255 232 625164</p>
          <p>info@ihi.or.tz</p>
        </div>
      </div>
    </div>
  </div>
</div>