{% load static %}

<div class="contacts">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Contact <strong style="color: green;">VCPTU</strong></h1>
            </div>
            <div class="col-md-12">
                <div class="contact_item">
                    <div class="inner_section">
                        <div class="image_section">
                            <img src="{% static './images/address.png' %}" alt="address" class="img-fluid">
                        </div>
                        <h5>Address</h5>
                        <div class="address">
                           <p> Bagamoyo Branch,</p>
                            <p>Off Chuguni Road - Bagamoyo,</p>
                           <p> P.O. Box 74, Bagamoyo - Tanzania</p>
                        </div>
                    </div>
                    <div class="inner_section">
                        <div class="image_section">
                            <img src="{% static './images/call.png' %}" alt="address" class="img-fluid">
                        </div>
                        <h5>Phone</h5>
                        <div class="address">
                          <p>+255 232 440 065</p>
                        </div>
                    </div>
                    <div class="inner_section">
                        <div class="image_section">
                            <img src="{% static './images/email.png' %}" alt="address" class="img-fluid">
                        </div>
                        <h5>Email Us</h5>
                        <div class="address">
                           <p>VCPTUmgt@ihi.or.tz</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>