{% load static %}

<div class="news_section">
  <div class="container-fluid">
    <div class="row">
      <h2>News & Events</h2> 

      {% if get_latest_news_or_latest_events %}
      {% for news in get_latest_news_or_latest_events %}
      <div class="col-md-4">
        <div class="inner_section" data-aos='zoom-in-up'>
          <div class="image_section">
            <img src="{{news.event_image.url }}" alt="" class="img-fluid">
          </div>
          <div class="description">
            <p>{{news.description | safe| truncatewords:12 }}</p>
            <a href="{% url 'vcptUnit_news:detailaViewPage' news.id %}" class="read_more">Read more</a>
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
       <div class ="no_news_no_events" style="padding:100px 20px;border:1px dashed #000"></div>
      {% endif %}

    
    </div>
  </div>
</div>