{% load static %}
<!-- <div id="hero">
  <video playsinline autoplay muted loop poster="placeholder.jpg" id="bgvideo" width="100%" height="100vh">
  <source src="{% static './videos/test.mp4' %}" type="video/mp4">
  </video>
  <div class="front_text">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="item" data-aos="zoom-in-up">
            <h1>VECTOR PROJECT TESTING UNIT</h1>
            <h5><strong>We check  & Recheack our result</strong></h5>
            <div class="button_section">
              <a href="" class="our_service_link" >view our services</a>
            </div> 
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- 
<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" data-video="0">
    
      <source src="{% static './videos/test.mp4' %}" type="video/mp4">
    
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="wow zoomIn" data-wow-delay="1s">We're a world class research Institute</h1>
        <h2 class="lead mb-0 wow fadeIn" data-wow-delay="2s"> We exist to improve health and wellbeing of people</h2>
      </div>
    </div>
  </div>
</header> -->


<!-- <video loop muted autoplay playsinline poster="URL/TO/poster.jpg" class="background-video">
  <source src="{% static './videos/test.mp4' %}" type="video/mp4">
  <source src="URL/TO/video.webm" type="video/webm">
  <source src="URL/TO/video.ogv" type="video/ogv">
</video>

<div class="background-video-content">
  Your Element content in here.
</div> -->


<header>
  <!--- header --->
</header>

<main>
  <section id="hero-video">
    <div id="hero">
  <video playsinline autoplay muted loop poster="placeholder.jpg" id="bgvideo" width="100%" height="100vh">
  <source src="{% static './videos/Ifakara Health Institute.mp4' %}" type="video/mp4">
  </video>
  <div class="front_text">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="item" data-aos="zoom-in-up">
            <h1>VECTOR CONTROL PRODUCT</h1>
            <h1>TESTING UNIT</h1>
            <h5><strong>We check  & Recheack our result</strong></h5>
            <div class="button_section">
              <a href="{% url  'vcptUnit_service:servicesPage' %}" class="our_service_link" >view our services</a>
            </div> 
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
  </section>
</main>