<div class="vcptu_history_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner_section">
                    <div class="header">
                        <h4><strong>History of VECTOR CONTROL PRODUCT TESTING UNIT</strong></h4>
                        <p>The Vector Control Product Testing Unit (VCPTU) began evaluations of vector control products in 2015.

                            Since then, it has conducted numerous evaluations of products for World Health Organisation (WHO) prequalification including insecticide treated bednets (ITNs), Indoor Residual Sprays (IRS), larvicides, space sprays and repellents as well as new types of control like sugar baits and mosquito traps.
                            
                            We also provide services for entities such as Presidents Malaria Initiative (PMI), Population Services International (PSI), Vector Works and Universities.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>