<div class="vcptu_history_section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="inner_section">
					<div class="header" style="height:220px">
						<h4 data-aos="slide-up"><strong>Mission</strong></h4>
						<p data-aos="slide-up">Our mission is to bring new vector control products to market more rapidly and cost-efficiently through the conduct of rigorous evaluations using well powered studies, enhanced research standards, and careful data analysis. At the same time, we are dedicated to building capacity in entomology for the future of vector control.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
