<div class="mission_and_vission_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="inner_section">
                    <div class="item">
                        <h1>Mission</h1>
                        <p>Our mission is to bring new vector control products to market more rapidly and cost-efficiently through the conduct of rigorous evaluations using well powered studies, enhanced research standards, and careful data analysis. At the same time, we are dedicated to building capacity in entomology for the future of vector control.</p>
                    </div>
                    <div class="item">
                        <h1>Strategy for 2022</h1>
                       <ul>
                        <li>Maintain GLP to attract high value studies – <strong>Delivered March 2022.</strong></li>
                       </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>