{% load static %}
<!-- navigation section -->
<div class="navigation_section">
  <div class="row">
    <div class="col-md-12">
      <div class="item">
        <nav class="navbar navbar-expand-lg bg-light " >
          <div class="container-fluid">
           <div class="logo_section" >
            <a class="navbar-brand" href="#">
              <img src="{% static './images/logo.png' %}" alt="" class="img-fluid">
            </a>
           </div>
            <div class="button_section">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse  " id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'vcptUnit_home:homePage' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'vcptUnit_aboutus:aboutPage' %}">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'vcptUnit_service:servicesPage' %}">Services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'vcptUnit_facility:facilityPage' %}">Facility</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'vcptUnit_team:teamPage' %}">Team</a>
                </li>
            
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Research
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Publication</a></li>
                    <li><a class="dropdown-item" href="#">Project</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link">Accreditations</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    News
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Publication</a></li>
                    <li><a class="dropdown-item" href="#">Project</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'vcptUnit_contact:contactPage' %}">Contact</a>
                </li>
              </ul> 
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
