{% load static %}
<div class="partners_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="partner_heading_section">
                    <h3>Our Partners</h3>
                </div>
            </div>
            <div class="col-md-12">

                <div class="inner_section">

                    <div class="partners p-2">
                        <a href="https://www.csrs.ch/fr" target="_blank">
                            <img src="{% static './images/csrs.jpg' %}" alt="" class="img-fluid">
                        </a>

                    </div>
                    <div class="partners p-2">
                        <a href="https://rmrcgkp.icmr.org.in/" target="_blank">
                            <img src="{% static './images/icmr.png' %}" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="partners p-2">
                        <a href="https://www.pngimr.org.pg/" target="_blank">
                            <img src="{% static './images/pngimr.png' %}" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="partners p-2">
                        <a href="https://www.ivcc.com/" target="_blank">
                            <img src="{% static './images/sponsor_ivcc.jpg' %}" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="partners p-2">
                        <a href="https://www.swisstph.ch/en/" target="_blank">
                            <img src=" {% static './images/sponsor_swis_tph.jpg' %}" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="partners p-2">
                        <a href="https://ju.edu.et/" target="_blank">
                            <img src="{% static './images/sponsor_jimm_university.jpg' %}" alt="" class="img-fluid" style="width:50%;">
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
