{% load static %}
<div class="partners_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="partner_heading_section">
                    <h3>Our Partners</h3>
                </div>
            </div>
            <div class="col-md-12">
                
                <div class="inner_section">
                    <div class="partners">
                        <img src="{% static './images/csrs.jpg' %}" alt="" class="img-fluid">
                    </div>
                    <div class="partners">
                        <img src="{% static './images/icmr.png' %}" alt="" class="img-fluid">
                    </div>
                    <div class="partners">
                        <img src="{% static './images/pngimr.png' %}" alt="" class="img-fluid">
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>

