{% load static %}
<div class="publication_section_at_home_page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title text-center">
          <h3>Latest Publications</h3>
        </div>
            {% if get_latest_publication %}
           <div class="inner_section">
            {% for publication in get_latest_publication %}
            <div class="publication"  data-aos="zoom-in-up"> 
            <div class="icon" style="width: 100px;">
              <img src="{% static './images/publication.png' %}" alt="" class="img-fluid" width="100%">
            </div>
            <div class="desciption">
              <p>{{ publication.description | safe }}</p>
            </div>
            </div>
            {% endfor %}
            {% endif %}
          </div>
          

      </div>
    </div>
  </div>
</div>