{% load static %}
<div class="publication_section_at_home_page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title text-center">
          <h3>LATEST PUBLICATIONS</h3>
        </div>
        <div class="inner_section">
          <div class="publication"  data-aos="zoom-in-up">
            <div class="icon" style="width: 100px;">
              <img src="{% static './images/icon/article.png' %}" alt="" class="img-fluid" width="100%">
            </div>
            <div class="desciption">
              <h4>Publication</h4>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. At, reprehenderit animi sunt illo provident exercitationem libero corrupti repellat quis harum?</p>
            </div>
          </div>
          <div class="publication"  data-aos="zoom-in-up">
            <div class="icon" style="width: 100px;">
              <img src="{% static './images/icon/article.png' %}" alt="" class="img-fluid" width="100%">
            </div>
            <div class="desciption">
              <h4>Publication</h4>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. At, reprehenderit animi sunt illo provident exercitationem libero corrupti repellat quis harum?</p>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>