{% load static %}
<div class="publication_section_at_home_page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title text-center">
          <h3>Latest Publications</h3>
        </div>
        <div class="inner_section">
          <div class="publication"  data-aos="zoom-in-up">
            <div class="icon" style="width: 100px;">
              <img src="{% static './images/publication.png' %}" alt="" class="img-fluid" width="100%">
            </div>
            <div class="desciption">
              
              <p>1. Edith P. Madumla, Olukayode G. Odufuwa, Edgar M. Mbeyela, Godfrey Ligema and Sarah J. Moore. <i>Large-scale (Phase III) evaluation of survivorship, biological efficacy, fabric integrity and community acceptability of DawaPlus®2.0 long-lasting insecticidal nets compared with PermaNet®2.0 in Kilombero, Tanzania. Mal J.</i></p>
            </div>
          </div>
          <div class="publication"  data-aos="zoom-in-up">
            <div class="icon" style="width: 100px;">
              <img src="{% static './images/publication.png' %}" alt="" class="img-fluid" width="100%">
            </div>
            <div class="desciption">
              
              <p>2. Olukayode G. Odufuwa, John Bradley, Zawadi Mageni Mboma, Emmanuel Mbuba, Joseph B. Muganga, Rose Philipo, Jason Moore, Ole Skovmand, Sarah Jane Moore. <i>The influence of time of experiment, insecticide resistance levels and post exposure holding time on the bioefficacy of insecticides against metabolic resistant mosquitoes.  Parasites and Vectors</i>.</p>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>