{% load static %}
<div class="staff_section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="title text-center p-5">
          <h3>Core Managements Team</h3>
        </div>
        <div class="inner_staff_list">
          
            <div class="staff" data-aos="zoom-in-up">
              <a href="{% url 'vcptUnit_team:SaraahMooredetailView' %}" class="link" style="text-decoration: none;color: black;">

              <div class="image_section">
                <img src="{% static './images/staff/Dr -saraah.png' %}" alt="" class="img-fluid">
              </div>
              <div class="staff_title">
                <h5>Dr Sarah Moore</h5>
                <h5>Head of unit</h5>
              
              </div>
            </a>
            </div>
          <div class="staff" data-aos="zoom-in-up">
            <a href="{% url 'vcptUnit_team:JasonMooredetailView' %}" class="link" style="text-decoration: none;color: black;">
            <div class="image_section">
              <img src="{% static './images/staff/jasonMoore.jpg' %}" alt="" class="img-fluid">
            </div>
            <div class="staff_title">
              <h5>Jason Moore</h5>
              <h5>Test Facility Manager</h5>
            </div>
          </a>
          </div>
          <div class="staff">
            <a href="{% url 'vcptUnit_team:EmmanuelMbubaDetailView' %}" class="link" style="text-decoration: none;color: black;">
            {% comment %} EmmanuelMbubaDetailView {% endcomment %}
            <div class="image_section" data-aos="zoom-in-up">
              <img src="{% static './images/staff/EmmanuelMbuba_original web.png' %}" alt="" class="img-fluid" >
            </div>
            <div class="staff_title">
              <h5>Emmanuel Mbuba</h5>
              <h5>Study Director</h5>
            </div>
          </a>
          </div>
          <div class="staff">
            <a href="{% url 'vcptUnit_team:RosePhilipoDetailView' %}" class="link" style="text-decoration: none;color: black;">
            
            <div class="image_section" data-aos="zoom-in-up" style="background-color: white;">
              <img src="{% static './images/staff/rose.png' %}" alt="" class="img-fluid" >
            </div>
            <div class="staff_title">
              <h5>Rose Philipo</h5>
              <h5>Project Manager</h5>
            </div>
          </a>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title text-center p-5">
          <h3>Core Managements Team</h3>
        </div>
        <div class="inner_staff_list">
          
          <div class="staff" data-aos="zoom-in-up">
            <a href="{% url 'vcptUnit_team:SaraahMooredetailView' %}" class="link" style="text-decoration: none;color: black;">

            <div class="image_section">
              <img src="{% static './images/staff/Dr -saraah.png' %}" alt="" class="img-fluid">
            </div>
            <div class="staff_title">
              <h5>Dr Sarah Moore</h5>
              <h5>Head of unit</h5>
            
            </div>
          </a>
          </div>
          <div class="staff" data-aos="zoom-in-up">
            <div class="image_section">
              <img src="{% static './images/staff/Jason-Moore-VCPTU.png' %}" alt="" class="img-fluid">
            </div>
            <div class="staff_title">
              <h5>Jason Moore</h5>
              <h5>Test Facility Manager</h5>
            </div>
          </div>
          <div class="staff">
            <a href="{% url 'vcptUnit_team:EmmanuelMbubaDetailView' %}" class="link" style="text-decoration: none;color: black;">
            {% comment %} EmmanuelMbubaDetailView {% endcomment %}
            <div class="image_section" data-aos="zoom-in-up">
              <img src="{% static './images/staff/EmmanuelMbuba_original web.png' %}" alt="" class="img-fluid" >
            </div>
            <div class="staff_title">
              <h5>Emmanuel Mbuba</h5>
              <h5>Study Director</h5>
            </div>
          </a>
          </div>
          <div class="staff">
            <a href="{% url 'vcptUnit_team:RosePhilipoDetailView' %}" class="link" style="text-decoration: none;color: black;">
            
            <div class="image_section" data-aos="zoom-in-up" style="background-color: white;">
              <img src="{% static './images/staff/rose.png' %}" alt="" class="img-fluid" >
            </div>
            <div class="staff_title">
              <h5>Rose Philipo</h5>
              <h5>Project Manager</h5>
            </div>
          </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>