{% load static %}
<div class="staff_section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="title text-center p-5">
          <h3>Core Managements Team</h3>
        </div>
        <div class="inner_staff_list">
          
            <div class="staff" data-aos="slide-right">
              <div class="image_section">
                <img src="{% static './images/Dr -saraah.JPG' %}" alt="" class="img-fluid" style="height: 300px;width: 350px;">
              </div>
              <div class="staff_title">
                <h5>Dr Sarah Moore</h5>
                <h5>Head of unit</h5>
              
              </div>
            </div>
          <div class="staff" data-aos="slide-right">
            <div class="image_section">
              <img src="{% static './images/Jason-Moore-VCPTU.jpg' %}" alt="" class="img-fluid">
            </div>
            <div class="staff_title">
              <h5>Jason Moore</h5>
              <h5>Test Facility Manager</h5>
            </div>
          </div>
          <div class="staff">
            <div class="image_section" data-aos="slide-left">
              <img src="{% static './images/EmmanuelMbuba_original web.jpg' %}" alt="" class="img-fluid" style="width: 330px;height: 308px;">
            </div>
            <div class="staff_title">
              <h5>Emmanuel Mbuba</h5>
              <h5>Study Director</h5>
            </div>
          </div>
          <div class="staff">
            <div class="image_section" data-aos="slide-left" style="background-color: white;">
              <img src="{% static './images/rose.png' %}" alt="" class="img-fluid" style="width: 350px;">
            </div>
            <div class="staff_title">
              <h5>Rose Philipo</h5>
              <h5>Project Manager</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>