{% load static %}
<div class="stay_in_touch_section">
    <div class="container-fluid" style="padding: 0px;">
        <div class="row">
            <div class="col-md-6" style="margin:0px;padding: 0px;">
                <div class="inner_section" style="color: #fff;font-weight:bold;height: 120vh;padding:50px 0px;opacity: 0.9;">
                   
                    <h3 style="padding: 300px 60px;text-align: justify;font-weight: bold;">Contact our office and we will contact you back regarding the intervention you require</h3>
                </div>
            </div>
            <div class="col-md-6"  style="margin:0px;background-color: rgb(0, 0, 0);">
                <div class="form_section">
                    <h1 style="font-size: 50px;">Stay in touch with</h1>
                    <h3>VCPTU Office</h3>
                    <form action="" method="post">
                        <label for="">Your Name (required)</label>
                        <input type="text" name="" id="">
                        <label for="">Your Email (required)</label>
                        <input type="email" name="" id="">
                        <label for="">Subject</label>
                        <input type="text" name="" id="">
                        <label for="">Your Message</label>
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                        <button type="submit" style="border-radius: 20px;padding: 10px 80px;">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

