{% load static %}
<div class="student_counter_section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="inner_item" data-aos="zoom-in-up">
          <h3>Portfolio</h3>
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, sequi!</p> -->
          <!-- <div class="counters_item">
            <div class="counter">
              <div class="image"><img src="{% static './images/icon/article.png' %}" alt="" class="img-fluid" style="width: 90px;"></div>
              <div id="counter1"></div>
              <p>level 1</p>
            </div>
            <div class="counter">
              <div class="image"><img src="{% static './images/icon/article.png' %}" alt="" class="img-fluid" style="width: 90px;"></div>
              <div id="counter2"></div>

              <p>Level 3</p>
            </div>
            <div class="counter">
              <div class="image"><img src="{% static './images/icon/article.png' %}" alt="" class="img-fluid" style="width: 90px;"></div>

              <div id="counter3"></div>

              <p>Level 4</p>
            </div>
            <div class="counter">
              <div class="image"><img src="{% static './images/icon/article.png' %}" alt="" class="img-fluid" style="width: 90px;"></div>

              <div id="counter4"></div>

              <p>Level 4</p>
            </div>
          </div> -->

          <div class="portfolio_section">
            <img src="{% static './images/VCPTU-portfolio.png' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>