<div class="what_we_offer_section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="item_offered">
          <h2>What We offers</h2>
          {% include 'components/topHorizontalLIne.html' %}
          <!-- <div class="description" data-aos="zoom-in-up">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde eaque et temporibus, mollitia neque eveniet rem blanditiis velit itaque enim doloribus? Consectetur laborum voluptates tenetur, repudiandae mollitia deserunt nam necessitatibus exercitationem perspiciatis sapiente delectus adipisci neque esse quas ea? Blanditiis.</p>
          </div> -->
          <div class="services">
            <div class="services_item" data-aos="slide-right">
              <i class="bi bi-card-checklist"></i>
              <h3>TESTING SERVICES</h3>
              <p> We test for indoor residual spraying (IRS), insecticidal treated nets (ITNs), skin (topical) repellents, spatial (area) repellents, treated clothing, attractive targeted sugar baits and mosquito lures..</p>
            </div>
            <div class="services_item" >
              <i class="bi bi-card-checklist"></i>
              <h3>DEVELOPMENT STRATEGIES</h3>
              <p>We develop new means of testing products and assist in developing guidelines for international use</p>
            </div>
            <div class="services_item" >
              <i class="bi bi-card-checklist"></i>
              <h3>PARAMETER MEASUREMENTS</h3>
              <p>We measure key parameters in the mosquito that translate to efficacy in reducing vector borne disease in the human population when applied at scale.</p>
            </div>
            <div class="services_item"  data-aos="slide-left">
              <i class="bi bi-card-checklist"></i>
              <h3>DOCUMENTATION AND REPORTING WRITING </h3>
              <p>. Our documentation, analysis and reporting is rigorous for ease of use by our partners.</p>
              <P> Also We offer protocol, data analysis and report writing services.</P>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>