{% extends  '../baseTemplates/websiteBase.html' %}
{% load static %}
{% block title %} facility {% endblock %}
{% block content %}
<div class="hero_in_facility_page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="inner_section" data-aos="slide-up"> 
                    <h1>VECTOR CONTROL PRODUCT TESTING UNIT</h1>
                    <h1>FACILITIES</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="facility_section">
 <div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="inner_section" data-aos="zoom-up">
                <div class="image_section">
                    <img src="{% static './images/facility.jpeg' %}" alt="" class="img-fluid">
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit consequuntur beatae ut asperiores neque non ab dolores sunt, id natus?</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="inner_section" data-aos="zoom-up">
                <div class="image_section">
                    <img src="{% static './images/facilities/A003_05010542_C007.mov.05_43_18_10.Still003.jpg' %}" alt="" class="img-fluid">
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit consequuntur beatae ut asperiores neque non ab dolores sunt, id natus?</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="inner_section" data-aos="zoom-up">
                <div class="image_section">
                    <img src="{% static './images/facilities/A003_05010658_C022.mov.06_59_10_11.Still001.jpg' %}" alt="" class="img-fluid">
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit consequuntur beatae ut asperiores neque non ab dolores sunt, id natus?</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="inner_section" data-aos="zoom-up">
                <div class="image_section">
                    <img src="{% static './images/facilities/A003_05010829_C044.mov.08_29_35_21.Still001.jpg' %}" alt="" class="img-fluid">
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit consequuntur beatae ut asperiores neque non ab dolores sunt, id natus?</p>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="inner_section" data-aos="zoom-up">
                <div class="image_section">
                    <img src="{% static './images/facilities/A003_05010923_C058.mov.09_23_44_02.Still001.jpg' %}" alt="" class="img-fluid">
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit consequuntur beatae ut asperiores neque non ab dolores sunt, id natus?</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="inner_section" data-aos="zoom-up">
                <div class="image_section">
                    <img src="{% static './images/facilities/A003_05010936_C061.mov.09_36_36_04.Still001.jpg' %}" alt="" class="img-fluid">
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit consequuntur beatae ut asperiores neque non ab dolores sunt, id natus?</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="inner_section" data-aos="zoom-up">
                <div class="image_section">
                    <img src="{% static './images/facilities/A003_05010940_C064.mov.09_40_40_11.Still001.jpg' %}" alt="" class="img-fluid">
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit consequuntur beatae ut asperiores neque non ab dolores sunt, id natus?</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="inner_section" data-aos="zoom-up">
                <div class="image_section">
                    <img src="{% static './images/facilities/A003_05010958_C070.mov.09_58_46_17.Still002.jpg' %}" alt="" class="img-fluid">
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit consequuntur beatae ut asperiores neque non ab dolores sunt, id natus?</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="inner_section" data-aos="zoom-up">
                <div class="image_section">
                    <img src="{% static './images/facilities/VCPTU-Arial-View-Bagamoyo-1280x733.jpg' %}" alt="" class="img-fluid">
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit consequuntur beatae ut asperiores neque non ab dolores sunt, id natus?</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="inner_section" data-aos="zoom-up">
                <div class="image_section">
                    <img src="{% static './images/facilities/VCPTU-Facility-1280x720.jpg' %}" alt="" class="img-fluid">
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit consequuntur beatae ut asperiores neque non ab dolores sunt, id natus?</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="inner_section" data-aos="zoom-up">
                <div class="image_section">
                    <img src="{% static './images/facilities/VCPTU-Testing-2-1280x675.jpg' %}" alt="" class="img-fluid">
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit consequuntur beatae ut asperiores neque non ab dolores sunt, id natus?</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="inner_section" data-aos="zoom-up">
                <div class="image_section">
                    <img src="{% static './images/facilities/VCPTU-Testing-1280x675.jpg' %}" alt="" class="img-fluid">
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit consequuntur beatae ut asperiores neque non ab dolores sunt, id natus?</p>
                </div>
            </div>
        </div>
    </div>
 </div>
</div>

{% include '../components/footer.html' %}

{% endblock %}
