{% extends  '../baseTemplates/websiteBase.html' %}
{% load static %}
{% block title %} facility {% endblock %}
{% block content %}
<div class="hero_in_facility_page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="inner_section" data-aos="slide-up"> 
                    <h1>VECTOR CONTROL UNIT FACILITY</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="facility_section">
 <div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="inner_section" data-aos="zoom-up">
                <div class="image_section">
                    <img src="{% static './images/facility.jpeg' %}" alt="" class="img-fluid">
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit consequuntur beatae ut asperiores neque non ab dolores sunt, id natus?</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="inner_section" data-aos="zoom-up">
                <div class="image_section">
                    <img src="{% static './images/facility.jpeg' %}" alt="" class="img-fluid">
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit consequuntur beatae ut asperiores neque non ab dolores sunt, id natus?</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="inner_section" data-aos="zoom-up">
                <div class="image_section">
                    <img src="{% static './images/facility.jpeg' %}" alt="" class="img-fluid">
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit consequuntur beatae ut asperiores neque non ab dolores sunt, id natus?</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="inner_section" data-aos="zoom-up">
                <div class="image_section">
                    <img src="{% static './images/facility.jpeg' %}" alt="" class="img-fluid">
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit consequuntur beatae ut asperiores neque non ab dolores sunt, id natus?</p>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="inner_section" data-aos="zoom-up">
                <div class="image_section">
                    <img src="{% static './images/facility.jpeg' %}" alt="" class="img-fluid">
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit consequuntur beatae ut asperiores neque non ab dolores sunt, id natus?</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="inner_section" data-aos="zoom-up">
                <div class="image_section">
                    <img src="{% static './images/facility.jpeg' %}" alt="" class="img-fluid">
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit consequuntur beatae ut asperiores neque non ab dolores sunt, id natus?</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="inner_section" data-aos="zoom-up">
                <div class="image_section">
                    <img src="{% static './images/facility.jpeg' %}" alt="" class="img-fluid">
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit consequuntur beatae ut asperiores neque non ab dolores sunt, id natus?</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="inner_section" data-aos="zoom-up">
                <div class="image_section">
                    <img src="{% static './images/facility.jpeg' %}" alt="" class="img-fluid">
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit consequuntur beatae ut asperiores neque non ab dolores sunt, id natus?</p>
                </div>
            </div>
        </div>

    </div>
 </div>
</div>

{% include '../components/footer.html' %}

{% endblock %}